html,
body {
  width: 100%;
  height: 100%;
  background-color: $background;
  font-family: "Roboto", sans-serif;
}

.container-fluid {
  width: 100%;
  height: 100%;
  padding: 0;
  background: $dark-overlay-01;

  &--multi {
    background: $dark-overlay-02 !important;
  }
}

.separator {
  height: 5px;
  width: 150px;
  margin: 5px auto 20px;
  background-color: $text-on-surface;
}

.theme-wrapper {
  position: absolute;
  top: 20px;
  z-index: 2;
  float: right;
  right: 0;
  margin-right: 1rem;
  color: $text-on-surface;
}

.btn-group {
  &--theme {
    margin-right: 1rem;
  }
}

// Second Page
.card-carousel {
  &.container-fluid {
    background: $dark-overlay-02;
  }
}

.page-wrapper {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  width: 100%;
  height: 100%;
  padding: 0;
}

.header {
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  padding-right: 7rem;
  width: 100%;
  top: 9rem;
  @include media-breakpoint-down(lg) {
    padding-right: 0;
    justify-content: center;
  }
}

.multi-card-wrap {
  margin-right: 2rem !important;
  @include media-breakpoint-down(sm) {
    margin-right: 0 !important;
  }
}

.loader-overlay {
  background: $dark-overlay-02 !important;
}

.spinner-grow {
  width: 4rem;
  height: 4rem;
  color: $primary-lighter;
}

.no-display {
  opacity: 0 !important;
}

.logo {
  position: absolute;
  width: 85px;
  height: 85px;
  top: 20px;
  left: 10px;
  transition: transform 0.2s;
  z-index: 5;
  &:hover {
    transform: scale(1.5);
  }
}
