:root {
  --primary: #1d98ff;
  --primary-dark: #0c1319;
  --primary-light: #5ab4ff;
  --surface: #0c131d;
  --backGround: #383838;
  --input: #1b2b3b;
  --textOnPrimary: #cfcfcf;
  --textOnSurface: #cfcfcf;
  --textOnSurfaceDark: #d4d4d4;
  --textOnDarksurface: #d7e7f4;
  --titleTextOnSurface: #cfcfcf;
}

$primary: var(--primary);
$primary-dark: var(--primary-dark);
$primary-light: var(--primary-light);
$surface: var(--surface);
$background: var(--backGround);
$input: var(--input);
$text-on-primary: var(--textOnPrimary);
$text-on-surface: var(--textOnSurface);
$text-on-surface-dark: var(--textOnSurfaceDark);
$title-text-on-surface: var(--titleTextOnSurface);

/* Major Colors Variables */
$white: #ffffff !default;
$black: #000000 !default;

//  Gray
$dark-gray: #646668 !default;
$light-gray: #8a8a8a !default;

// Color Blue Variables
$color-skyblue-01: #156999 !default;
$color-skyblue-02: #6c95bd !default;

$dark-blue-01: #35506b !default;
$dark-blue-02: #142638 !default;
$dark-blue-03: #233c55 !default;

// Color Yellow Variables
$yellow-01: #cfac1f !default;

//RGBA White Colors
$white-08: rgba($white, 0.08) !default;
$white-12: rgba($white, 0.12) !default;
$white-32: rgba($white, 0.32) !default;
$white-60: rgba($white, 0.6) !default;
$white-87: rgba($white, 0.87) !default;

// RGBA Primary Color Variables
$primary-08: rgba($primary, 0.08) !default;

//  New Icon Colors
$red: #db4437 !default;
$purple: #3b5999 !default;
$light-blue: #55acee !default;
$dark-blue: #0a66ac !default;
$green: #032e2e !default;
$blue-green: #0e7777 !default;
