<div class="container-fluid v-carousel section-wrapper" (wheel)="onMouseWheel($event)">
    <div class="carousel-container justify-content-center">
        <!-- data-bs-interval: the amount of time to delay between automatically cycling an item. If false, carousel will not automatically cycle -->
        <!-- data-bs wrap: whether the carousel should cycle continuously -->
        <div id="vertical-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="true"
            data-bs-wrap="true">
            <!-- Carousel slide indicators -->
            <ol class="carousel-indicators d-none d-md-flex">
                <li data-bs-target="#vertical-carousel" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#vertical-carousel" data-bs-slide-to="1"></li>
                <li data-bs-target="#vertical-carousel" data-bs-slide-to="2"></li>
                <li data-bs-target="#vertical-carousel" data-bs-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div>
                    <a routerLink="/card" target="_blank">
                        <button type="button" class="btn conv-btn conv-btn--secondary btn-logo" data-bs-toggle="tooltip" tabindex="0"
                            title="Click me to see the next page">
                            {{btnText}}
                        </button>
                    </a>
                </div>
                <!-- Switch Themes  -->
                <div class="position-relative">
                    <conv-switch-theme></conv-switch-theme>
                </div>

                <!-- Carousel item represents each slide -->
                <div *ngFor="let item of vCarouselData" class="carousel-item" [ngClass]="{active: isActive(item)}"
                    style="background-image:url('{{item.img}}');">
                    <div class="container-fluid">
                        <div class="d-flex justify-content-center align-items-center text-center" style="height: 100%">
                            <div class="d-flex justify-content-center align-items-center text-center"
                                style="height: 100%">
                                <div class="display-3 text-center text-light">
                                    <div class="h-typo-normal">{{item.title}}</div>
                                    <div class="separator"></div>
                                    <div class="p-typo">{{item.description1}}
                                        <br>
                                        {{item.description2}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel buttons -->
        <button class="unclickable carousel-control-next" type="button" data-bs-target="#vertical-carousel"
            data-bs-slide="next">
            <span class="clickable carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>