/* Box Button Styling */

@mixin a-box-btn($bg, $border, $color) {
  background-color: $bg !important;
  border: 2px solid $border !important;
  color: $color !important;
}

.conv-btn {
  height: 37.6px;
  width: inherit;
  border-radius: 4px;
  border-style: none;
  box-shadow: none !important;
  @extend .btn-typo;

  &--primary {
    @include a-box-btn($primary-light, none, $text-on-primary);
  }

  &--secondary {
    @include a-box-btn(transparent, $primary-light, $primary-light);
  }

  &--text {
    @include a-box-btn(transparent, transparent, $primary-light);

    &:hover {
      @include a-box-btn(transparent, transparent, $primary-light);
    }
  }

  &:hover {
    opacity: 0.8;
    box-shadow: none !important;
    background-color: $primary-light !important;
    color: $text-on-primary !important;
  }
}

.btn-logo {
  position: absolute;
  top: 20px;
  margin-left: 20px;
  padding: 0.375rem 2rem;
  z-index: 1;
}

.btn-more {
  position: absolute;
  top: 75px;
  right: 0;
  margin-right: 2rem;
  padding: 0.375rem 2rem;
  z-index: 1;
}

// For toggle button
.btn-outline-primary {
  color: $primary-light;
  border: 2px solid $primary-light;
  box-shadow: none !important;

  &:hover {
    @include a-box-btn($primary-light, $primary-light, $text-on-primary);
  }
}

.btn-primary {
  @include a-box-btn($primary-light, $primary-light, $text-on-primary);
  box-shadow: none !important;

  &:hover {
    @include a-box-btn($primary, $primary-light, $text-on-primary);
    cursor: pointer;
  }
}

.btn-check:active + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active {
  color: $text-on-primary;
  background-color: $primary-light;
  border-color: $primary-light;
}

.card-more-btn {
  max-width: 150px !important;
}
